<!DOCTYPE html>
<html>
<head>

  <title>Code Drop</title>

  <link href='/public/css/style.css' rel='stylesheet' />

  <script type='text/javascript' src='public/codedrop.js'></script>

</head>
<body>

  <div class='codedrop-configure' id='configure'></div>

  <script>
  require(['codedrop'], function(CodeDrop) {
    new CodeDrop(<%- dropsJSON %>);
  });
  </script>

</body>
</html>
