<!DOCTYPE html>
<html>
<head>

  <title>Proxy Sesh</title>

  <link href='/public/css/style.css' rel='stylesheet' />

  <script type='text/javascript' src='public/phat-sesh.js'></script>

</head>
<body>

  <div class='proxy-sesh-configure' id='configure'></div>

  <script>
  require([
    'models/seshs',
    'views/configure'
  ], function (Seshs, ConfigureView) {
    console.log(Seshs, ConfigureView);
    var seshs = new Seshs;
    seshs.reset(<%- seshsJSON %>);
    var configureView = new ConfigureView({ el: '#configure', seshs: seshs })
    configureView.render();
  });
  </script>
</body>
</html>
