/* line 3, ../../scss/style.scss */
.proxy-sesh-widget {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  max-height: 500px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px;
}

/* line 14, ../../scss/style.scss */
.proxy-sesh-configure {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 14px;
}
/* line 18, ../../scss/style.scss */
.proxy-sesh-configure table {
  border-collapse: collapse;
}
/* line 20, ../../scss/style.scss */
.proxy-sesh-configure table td {
  padding: 1ex;
  border-top: 1px solid #ccc;
}
/* line 24, ../../scss/style.scss */
.proxy-sesh-configure table input.script {
  width: 30em;
}
/* line 29, ../../scss/style.scss */
.proxy-sesh-configure pre {
  display: inline;
  word-wrap: break-word;
}
/* line 34, ../../scss/style.scss */
.proxy-sesh-configure textarea,
.proxy-sesh-configure input[type=text] {
  font-size: 13px;
  font-family: 'Monaco', 'Courier New', 'Courier', serif;
  padding: 4px;
}
/* line 39, ../../scss/style.scss */
.proxy-sesh-configure textarea {
  height: 300px;
}
/* line 42, ../../scss/style.scss */
.proxy-sesh-configure .hide {
  display: none;
}
/* line 45, ../../scss/style.scss */
.proxy-sesh-configure .btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 86, ../../scss/style.scss */
.proxy-sesh-configure .btn:hover,
.proxy-sesh-configure .btn:active,
.proxy-sesh-configure .btn.active,
.proxy-sesh-configure .btn.disabled,
.proxy-sesh-configure .btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
/* line 93, ../../scss/style.scss */
.proxy-sesh-configure .btn:active,
.proxy-sesh-configure .btn.active {
  background-color: #cccccc \9;
}
/* line 97, ../../scss/style.scss */
.proxy-sesh-configure .btn:first-child {
  *margin-left: 0;
}
/* line 101, ../../scss/style.scss */
.proxy-sesh-configure .btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 111, ../../scss/style.scss */
.proxy-sesh-configure .btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 118, ../../scss/style.scss */
.proxy-sesh-configure .btn.active,
.proxy-sesh-configure .btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 125, ../../scss/style.scss */
.proxy-sesh-configure .btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 134, ../../scss/style.scss */
.proxy-sesh-configure .btn-small [class^="icon-"],
.proxy-sesh-configure .btn-small [class*=" icon-"] {
  margin-top: 0;
}
/* line 139, ../../scss/style.scss */
.proxy-sesh-configure .btn-mini [class^="icon-"],
.proxy-sesh-configure .btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
